.amarelo{
	background-color:yellow;
}

.azul{
	background-color:blue;
}

.branco{
	background-color:white;
}

.cinza{
	background-color:gray;
}

.marrom{
	background-color:brown;
}

.preto{
	background-color:black;
}